<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
  <title>WatchList</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
  <div class="row" id="header">
    {{!-- <div class="col-md-12">
      <h1>Trader Pro Watchlist</h1>
    </div> --}}
  </div>
  <div class="transbox text-center">
    {{{ body }}}
  </div>
</body>

</html>