@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.logo {
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
#masthead {
    width: 100%;
    margin: 0 0 30px;
    z-index: 99;
    overflow: auto;
    position: fixed;
    background: #fff;
    border-bottom: 2px solid #163e50;
}

#trader-logo {
    width: 350px;
    height: 90px;
    float: left;
    text-align: center;
    font-family: 'Montserrat' sans-serif;
    line-height: 90px;
    font-weight: 700;
    font-size: 50px;
    text-decoration: none;
    background: #575988;
    color: #fff;
}

nav {
    float:right;
    margin-top: 25px;
    margin-right: 70px;
}

nav a{
    display: inline-block;
    margin-left: 15px;
    padding-left: 15px;
    text-decoration: none;
    line-height: 20px;
    color: #575988;
    border-left: 1px solid #efefef;
}

nav a:first-child {
    border-left: 0 none;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #676cf8;
}

input, button {
    border: none;
    outline: none;
    background: none;
}
.container{
    margin: 0 auto;
    margin-top: 130px;
    overflow: hidden;
    position: relative;
    width: 740px;
    height: 550px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  
.form {
    position: relative;
    width: 480px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.form h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}
label {
    display: block;
    width: 260px;
    margin: 25px auto;
    text-align: center;
}
label span {
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: Uppercase;
}
input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.submit {
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background: -webkit-linear-gradient(left, #575988, #9a9cce);
}
.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
}
.forgot-pass:hover {
    color: red;
}
.social-icons {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.social-icons ul {
    list-style: none;
}
.social-icons ul li {
    display: inline-block;
    cursor: pointer;
    margin: 15px;
}
.social-icons img {
    width: 40px;
    height: 40px;
}

.sub-container {
    overflow: hidden;
    position: absolute;
    left: 480px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}
.container.s-signup .sub-container{
    -webkit-transform:translate3d(-480px, 0, 0);
            transform:translate3d(-480px, 0, 0);
  }
.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}
.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .img-text h2{
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  .img-text p{
    font-size: 14px;
    line-height: 1.5;
  }
  
  .container.s-signup .img-text.m-up{
    -webkit-transform:translateX(520px);
            transform:translateX(520px);
  }
  
  .img-text.m-in{
    -webkit-transform:translateX(-520px);
            transform:translateX(-520px);
  }
  
  .container.s-signup .img-text.m-in{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  }
  
  
  .sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
            transition-timing-function:ease-out;
  }
  
  .container.s-signup .sign-in{
    -webkit-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out;
    -webkit-transition-duration:1.2s;
            transition-duration:1.2s; 
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .img-btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
  }
  
  .img-btn:after{
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
  }
  
  .img-btn span{
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;;
  }
  
  .img-btn span.m-in{
    -webkit-transform:translateY(-72px);
            transform:translateY(-72px);
  }
  
  .container.s-signup .img-btn span.m-in{
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
  
  .container.s-signup .img-btn span.m-up{
    -webkit-transform:translateY(72px);
            transform:translateY(72px);
  }
  
  .sign-up{
    -webkit-transform:translate3d(-900px, 0, 0);
            transform:translate3d(-900px, 0, 0);
  }
  
  .container.s-signup .sign-up{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }

@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
  }
  .tcontainer{
    width: 100%;
    overflow: hidden;
    
  }
  .ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: #eee;
    height:20%;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 110s;
  }
  .ticker-move:hover{
    animation-play-state: paused;
  }
  .ticker-item{
    display: inline-block;
    padding: 0 1rem;
  }

.newsletter {
    margin-top: 85%;
}

.news {
    font-size: 13px!important;
    color: black!important;
}

/* Watchlist.handlebars style */

.watch {
  text-align: center;
  font-size: xx-large;
  margin-top: 4rem;
  color: #0c0101;
}

.btn {
  color: #efefef;
  border: double;
  border-color: darkgreen;
  width: 120px;
  background-color: #575988;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.dropdown {
  border-block-color: black;
  width: 200px;
  height: 30px  
}